<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" [routerLink]="['/new']">New restaurant</button>
</div>
<br><br>
<div id="scroll">
<table class="table table-hover" align="left">
  <thead>
    <tr class="table-primary d-flex">
      <th class="col-3">Restaurant</th>
      <th class="col-3">Cuisine</th>
      <th class="col-6">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurant of restaurants" class="d-flex">
      <td class="col-3">{{ restaurant['name'] }}</td>
      <td class="col-3">{{ restaurant['cuisine'] }}</td>
      <td class="col-2"><button [routerLink]="['/reviews', restaurant['_id'] ]" class="btn btn-danger btn-sm">Read reviews</button></td>
      <td class="col-2"><button [routerLink]="['/edit', restaurant['_id'] ]" class="btn btn-danger btn-sm">Update</button></td>
      <td class="col-2" *ngIf="(now | date : 'yMddhhmmss') - (restaurant.createdAt | date : 'yMddhhmmss') > 30">
        <button [disabled]="buttonEnabled" (click)="deleteRest(restaurant['_id'])" class="btn btn-danger btn-sm" >Delete</button></td>
      <td class="col-2" *ngIf="(now | date : 'yMddhhmmss') - (restaurant.createdAt | date : 'yMddhhmmss') < 30">
          <button [disabled]="buttonDisabled" (click)="deleteRest(restaurant['_id'])" class="btn btn-danger btn-sm" >Delete</button></td>
    </tr>
  </tbody>
</table> 
</div>